<%# This could be a reusable component %>
<div class="container">
  

  <h2 class="heading">Thoughts on technology and occasionally other topics</h2>

  <% @articles.each do |article| %>
  <article>
    <h3 class="heading"><%= article.title %></h3>
    <p class="body"><%= article.description %></p>
  </article>
  <% end %>
</div>
