/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=Roboto:wght@100;500&display=swap');


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 70%;
    margin: auto;
}

.blog-header {
    display: flex;
    flex-direction: row;
    // If you want to handle spacing, making sure you define widths
    width: 100%; 
}

.title {
    color: inherit;
    display: flex;
    margin-right: auto;
    font-family: 'Archivo', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}

.links {
    display: flex;
    color: inherit;
    text-decoration: none;
    justify-content: space-between;
    font-size: 1.25em;
}

.heading {
    font-family: 'Archivo', sans-serif;
}

.body {
    font-family: 'Roboto', sans-serif;
}

// This will get expanded out into .brand-list h1, .brand-list li etc etc
.brand-list {
    border: "solid 2px";
    list-style-type: none;
    vertical-align: middle;
    
    li {
        display: inline;
    }

    a, a:visited, a:hover, a:active {
        color: inherit;
    }
}

