/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=Roboto:wght@100;500&display=swap');

header {
    display: inline;
    border: "solid 2px";
}

.heading {
    font-family: 'Archivo', sans-serif;
}

.body {
    font-family: 'Roboto', sans-serif;
}

// This will get expanded out into .brand-list h1, .brand-list li etc etc
.brand-list {
    border: "solid 2px";
    list-style-type: none;
    vertical-align: middle;
    
    h1 {
        display: inline;
    }

    li {
        display: inline;
    }

    a, a:visited, a:hover, a:active {
        color: inherit;
    }
}